{% trans_default_domain 'SchoolAdmin' %}

<h3>
    <button class="close-button gray" title="{{ 'Add Field'|trans }}" type="button" onClick="window.open('{{ path('school_admin__external_assessment_field_add') }}','_self')">
        <span class="fas fa-plus-circle fw"/>
    </button>
    {{ 'Edit Fields'|trans }}
</h3>