{% trans_default_domain 'SchoolAdmin' %}

{% extends 'kookaburra.html.twig' %}

{% set moduleName = 'School Admin' %}
{% set module = {
    baseURL: 'school_admin',
    crumbs: [
        {uri: 'school_admin__academic_year_manage', name: 'School Admin'},
    ],
    title: 'Manage Terms', domain: 'SchoolAdmin'} %}
{% set breadcrumbs = 'new' %}

{% block content %}
    <button class="close-button gray" title="{{ 'Add'|trans({}, 'messages') }}" type="button" onclick="window.open('{{ path('school_admin__academic_year_term_add') }}','_self')"><span class="fas fa-plus-circle fa-fw"/></button>
    <div id="paginationContent"></div>
{% endblock content %}
