{% trans_default_domain 'SchoolAdmin' %}

{% extends 'kookaburra.html.twig' %}

{% set moduleName = 'School Admin' %}
{% set module = {
    baseURL: 'school_admin',
    crumbs: [
        {uri: 'school_admin__academic_year_manage', name: 'School Admin'},
        {uri: 'school_admin__external_assessments_manage', name: 'Manage External Assessments'},
    ],
    title: (assessment.id > 0 ? 'Edit External Assessment' : 'Add External Assessment'), domain: 'SchoolAdmin'} %}
{% set breadcrumbs = 'new' %}

{% block content %}
    <button class="close-button gray" title="{{ 'Return'|trans({}, 'messages') }}" type="button" onclick="window.open('{{ path('school_admin__external_assessments_manage') }}','_self')"><span class="fas fa-reply fa-fw"/></button>
    {% if assessment.id > 0 %}
        <button class="close-button gray" title="{{ 'Add'|trans({}, 'messages') }}" type="button" onclick="window.open('{{ path('school_admin__external_assessment_add') }}','_self')"><span class="fas fa-plus-circle fw"/></button>
    {% endif %}
    <div id="formContent"></div>
{% endblock content %}
